.elementor-kit-865 {
  --e-global-color-primary: #ffc72a;
  --e-global-color-secondary: #54595f;
  --e-global-color-text: #ffffff;
  --e-global-color-accent: #e48420;
  --e-global-color-d49ac81: #f5ff27;
  --e-global-color-332724a: #ffffff;
  --e-global-color-4d462f5: #1e2029;
  --e-global-color-cfa1f76: #1e2029;
  --e-global-color-044b931: #010204;
  --e-global-color-c79eab0: #f5ff27;
  --e-global-typography-primary-font-family: "Londrina Solid";
  --e-global-typography-primary-font-weight: 600;
  --e-global-typography-secondary-font-family: "Londrina Solid";
  --e-global-typography-secondary-font-weight: 400;
  --e-global-typography-text-font-family: "Josefin Sans";
  --e-global-typography-text-font-weight: 400;
  --e-global-typography-accent-font-family: "Roboto";
  --e-global-typography-accent-font-weight: 500;
  --e-global-typography-b2ce6af-font-family: "Sniglet";
  --e-global-typography-b2ce6af-font-size: 18px;
  --e-global-typography-b2ce6af-font-weight: 400;
  --e-global-typography-b2ce6af-line-height: 1.5em;
  --e-global-typography-69c152f-font-family: "Sniglet";
  --e-global-typography-69c152f-font-size: 16px;
  --e-global-typography-69c152f-font-weight: 400;
  --e-global-typography-69c152f-line-height: 1.6em;
  --e-global-typography-520c191-font-family: "Sniglet";
  --e-global-typography-520c191-font-size: 18px;
  --e-global-typography-520c191-font-weight: 500;
  --e-global-typography-520c191-text-transform: none;
  --e-global-typography-583e54c-font-family: "Sniglet";
  --e-global-typography-583e54c-font-size: 72px;
  --e-global-typography-583e54c-font-weight: 400;
  --e-global-typography-583e54c-line-height: 1em;
  --e-global-typography-583e54c-letter-spacing: -2px;
  --e-global-typography-5d167aa-font-family: "Sniglet";
  --e-global-typography-5d167aa-font-size: 48px;
  --e-global-typography-5d167aa-font-weight: 400;
  --e-global-typography-5d167aa-line-height: 1.1em;
  --e-global-typography-d3dae9a-font-family: "Sniglet";
  --e-global-typography-d3dae9a-font-size: 36px;
  --e-global-typography-d3dae9a-font-weight: 400;
  --e-global-typography-d3dae9a-text-transform: none;
  --e-global-typography-d3dae9a-font-style: normal;
  --e-global-typography-d3dae9a-line-height: 1.2em;
  --e-global-typography-83682a1-font-family: "Sniglet";
  --e-global-typography-83682a1-font-size: 24px;
  --e-global-typography-83682a1-font-weight: 400;
  --e-global-typography-83682a1-text-transform: none;
  --e-global-typography-83682a1-font-style: normal;
  --e-global-typography-83682a1-line-height: 1.3em;
  --e-global-typography-7044a64-font-family: "Sniglet";
  --e-global-typography-7044a64-font-size: 18px;
  --e-global-typography-7044a64-font-weight: 400;
  --e-global-typography-7044a64-line-height: 1.4em;
  --e-global-typography-84ca66e-font-family: "Sniglet";
  --e-global-typography-84ca66e-font-size: 18px;
  --e-global-typography-84ca66e-font-weight: 400;
  --e-global-typography-84ca66e-text-transform: uppercase;
  --e-global-typography-84ca66e-line-height: 1.5em;
  --e-global-typography-112b6c4-font-family: "Sniglet";
  --e-global-typography-112b6c4-font-size: 14px;
  --e-global-typography-112b6c4-font-weight: 400;
  --e-global-typography-a435f28-font-family: "Sniglet";
  --e-global-typography-a435f28-font-size: 200px;
  --e-global-typography-a435f28-font-weight: 600;
  --e-global-typography-a435f28-text-transform: capitalize;
  --e-global-typography-a435f28-line-height: 1em;
  --e-global-typography-a435f28-letter-spacing: -2px;
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-b2ce6af-font-family), Sans-serif;
  font-size: var(--e-global-typography-b2ce6af-font-size);
  font-weight: var(--e-global-typography-b2ce6af-font-weight);
  line-height: var(--e-global-typography-b2ce6af-line-height);
  letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
  word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
  background-color: #010204;
}
.elementor-kit-865 p {
  margin-bottom: 18px;
}
.elementor-kit-865 a {
  color: var(--e-global-color-primary);
}
.elementor-kit-865 a:hover {
  color: var(--e-global-color-accent);
}
.elementor-kit-865 h1 {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-583e54c-font-family), Sans-serif;
  font-size: var(--e-global-typography-583e54c-font-size);
  font-weight: var(--e-global-typography-583e54c-font-weight);
  line-height: var(--e-global-typography-583e54c-line-height);
  letter-spacing: var(--e-global-typography-583e54c-letter-spacing);
  word-spacing: var(--e-global-typography-583e54c-word-spacing);
}
.elementor-kit-865 h2 {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-5d167aa-font-family), Sans-serif;
  font-size: var(--e-global-typography-5d167aa-font-size);
  font-weight: var(--e-global-typography-5d167aa-font-weight);
  line-height: var(--e-global-typography-5d167aa-line-height);
  letter-spacing: var(--e-global-typography-5d167aa-letter-spacing);
  word-spacing: var(--e-global-typography-5d167aa-word-spacing);
}
.elementor-kit-865 h3 {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-d3dae9a-font-family), Sans-serif;
  font-size: var(--e-global-typography-d3dae9a-font-size);
  font-weight: var(--e-global-typography-d3dae9a-font-weight);
  text-transform: var(--e-global-typography-d3dae9a-text-transform);
  font-style: var(--e-global-typography-d3dae9a-font-style);
  line-height: var(--e-global-typography-d3dae9a-line-height);
  letter-spacing: var(--e-global-typography-d3dae9a-letter-spacing);
  word-spacing: var(--e-global-typography-d3dae9a-word-spacing);
}
.elementor-kit-865 h4 {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-83682a1-font-family), Sans-serif;
  font-size: var(--e-global-typography-83682a1-font-size);
  font-weight: var(--e-global-typography-83682a1-font-weight);
  text-transform: var(--e-global-typography-83682a1-text-transform);
  font-style: var(--e-global-typography-83682a1-font-style);
  line-height: var(--e-global-typography-83682a1-line-height);
  letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
  word-spacing: var(--e-global-typography-83682a1-word-spacing);
}
.elementor-kit-865 h5 {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-7044a64-font-family), Sans-serif;
  font-size: var(--e-global-typography-7044a64-font-size);
  font-weight: var(--e-global-typography-7044a64-font-weight);
  line-height: var(--e-global-typography-7044a64-line-height);
  letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
  word-spacing: var(--e-global-typography-7044a64-word-spacing);
}
.elementor-kit-865 h6 {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-84ca66e-font-family), Sans-serif;
  font-size: var(--e-global-typography-84ca66e-font-size);
  font-weight: var(--e-global-typography-84ca66e-font-weight);
  text-transform: var(--e-global-typography-84ca66e-text-transform);
  line-height: var(--e-global-typography-84ca66e-line-height);
  letter-spacing: var(--e-global-typography-84ca66e-letter-spacing);
  word-spacing: var(--e-global-typography-84ca66e-word-spacing);
}
.elementor-kit-865 button,
.elementor-kit-865 input[type="button"],
.elementor-kit-865 input[type="submit"],
.elementor-kit-865 .elementor-button {
  font-weight: 500;
  color: var(--e-global-color-044b931);
  background-color: var(--e-global-color-d49ac81);
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: var(--e-global-color-text);
  border-radius: 30px 30px 30px 30px;
}
.elementor-kit-865 button:hover,
.elementor-kit-865 button:focus,
.elementor-kit-865 input[type="button"]:hover,
.elementor-kit-865 input[type="button"]:focus,
.elementor-kit-865 input[type="submit"]:hover,
.elementor-kit-865 input[type="submit"]:focus,
.elementor-kit-865 .elementor-button:hover,
.elementor-kit-865 .elementor-button:focus {
  color: var(--e-global-color-044b931);
  background-color: var(--e-global-color-332724a);
  border-style: solid;
  border-width: 0px 0px 0px 0px;
}
.elementor-kit-865 label {
  color: var(--e-global-color-secondary);
  font-family: var(--e-global-typography-b2ce6af-font-family), Sans-serif;
  font-size: var(--e-global-typography-b2ce6af-font-size);
  font-weight: var(--e-global-typography-b2ce6af-font-weight);
  line-height: var(--e-global-typography-b2ce6af-line-height);
  letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
  word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
}
.elementor-kit-865 input:not([type="button"]):not([type="submit"]),
.elementor-kit-865 textarea,
.elementor-kit-865 .elementor-field-textual {
  font-family: var(--e-global-typography-b2ce6af-font-family), Sans-serif;
  font-size: var(--e-global-typography-b2ce6af-font-size);
  font-weight: var(--e-global-typography-b2ce6af-font-weight);
  line-height: var(--e-global-typography-b2ce6af-line-height);
  letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
  word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
  color: var(--e-global-color-cfa1f76);
  background-color: var(--e-global-color-text);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--e-global-color-4d462f5);
  border-radius: 30px 30px 30px 30px;
}
.elementor-kit-865 input:focus:not([type="button"]):not([type="submit"]),
.elementor-kit-865 textarea:focus,
.elementor-kit-865 .elementor-field-textual:focus {
  color: var(--e-global-color-primary);
  background-color: var(--e-global-color-text);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
}
.elementor-section.elementor-section-boxed > .elementor-container {
  max-width: 1280px;
}
.e-con {
  --container-max-width: 1280px;
}
.elementor-widget:not(:last-child) {
  margin-block-end: 20px;
}
.elementor-element {
  --widgets-spacing: 20px 20px;
}
 {
}
h1.entry-title {
  display: var(--page-title-display);
}
.elementor-kit-865 e-page-transition {
  background-color: #ffbc7d;
}
.site-header {
  padding-inline-end: 0px;
  padding-inline-start: 0px;
}
@media (max-width: 1024px) {
  .elementor-kit-865 {
    --e-global-typography-b2ce6af-font-size: 17px;
    --e-global-typography-69c152f-font-size: 15px;
    --e-global-typography-520c191-font-size: 17px;
    --e-global-typography-583e54c-font-size: 48px;
    --e-global-typography-5d167aa-font-size: 36px;
    --e-global-typography-d3dae9a-font-size: 24px;
    --e-global-typography-83682a1-font-size: 18px;
    --e-global-typography-7044a64-font-size: 16px;
    --e-global-typography-84ca66e-font-size: 15px;
    --e-global-typography-112b6c4-font-size: 13px;
    --e-global-typography-a435f28-font-size: 125px;
    font-size: var(--e-global-typography-b2ce6af-font-size);
    line-height: var(--e-global-typography-b2ce6af-line-height);
    letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
    word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
  }
  .elementor-kit-865 h1 {
    font-size: var(--e-global-typography-583e54c-font-size);
    line-height: var(--e-global-typography-583e54c-line-height);
    letter-spacing: var(--e-global-typography-583e54c-letter-spacing);
    word-spacing: var(--e-global-typography-583e54c-word-spacing);
  }
  .elementor-kit-865 h2 {
    font-size: var(--e-global-typography-5d167aa-font-size);
    line-height: var(--e-global-typography-5d167aa-line-height);
    letter-spacing: var(--e-global-typography-5d167aa-letter-spacing);
    word-spacing: var(--e-global-typography-5d167aa-word-spacing);
  }
  .elementor-kit-865 h3 {
    font-size: var(--e-global-typography-d3dae9a-font-size);
    line-height: var(--e-global-typography-d3dae9a-line-height);
    letter-spacing: var(--e-global-typography-d3dae9a-letter-spacing);
    word-spacing: var(--e-global-typography-d3dae9a-word-spacing);
  }
  .elementor-kit-865 h4 {
    font-size: var(--e-global-typography-83682a1-font-size);
    line-height: var(--e-global-typography-83682a1-line-height);
    letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
    word-spacing: var(--e-global-typography-83682a1-word-spacing);
  }
  .elementor-kit-865 h5 {
    font-size: var(--e-global-typography-7044a64-font-size);
    line-height: var(--e-global-typography-7044a64-line-height);
    letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
    word-spacing: var(--e-global-typography-7044a64-word-spacing);
  }
  .elementor-kit-865 h6 {
    font-size: var(--e-global-typography-84ca66e-font-size);
    line-height: var(--e-global-typography-84ca66e-line-height);
    letter-spacing: var(--e-global-typography-84ca66e-letter-spacing);
    word-spacing: var(--e-global-typography-84ca66e-word-spacing);
  }
  .elementor-kit-865 label {
    font-size: var(--e-global-typography-b2ce6af-font-size);
    line-height: var(--e-global-typography-b2ce6af-line-height);
    letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
    word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
  }
  .elementor-kit-865 input:not([type="button"]):not([type="submit"]),
  .elementor-kit-865 textarea,
  .elementor-kit-865 .elementor-field-textual {
    font-size: var(--e-global-typography-b2ce6af-font-size);
    line-height: var(--e-global-typography-b2ce6af-line-height);
    letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
    word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
  }
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1024px;
  }
  .e-con {
    --container-max-width: 1024px;
  }
}
@media (max-width: 767px) {
  .elementor-kit-865 {
    --e-global-typography-b2ce6af-font-size: 16px;
    --e-global-typography-69c152f-font-size: 14px;
    --e-global-typography-520c191-font-size: 16px;
    --e-global-typography-583e54c-font-size: 38px;
    --e-global-typography-5d167aa-font-size: 28px;
    --e-global-typography-d3dae9a-font-size: 24px;
    --e-global-typography-83682a1-font-size: 18px;
    --e-global-typography-7044a64-font-size: 14px;
    --e-global-typography-84ca66e-font-size: 14px;
    --e-global-typography-112b6c4-font-size: 12px;
    --e-global-typography-a435f28-font-size: 72px;
    font-size: var(--e-global-typography-b2ce6af-font-size);
    line-height: var(--e-global-typography-b2ce6af-line-height);
    letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
    word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
  }
  .elementor-kit-865 h1 {
    font-size: var(--e-global-typography-583e54c-font-size);
    line-height: var(--e-global-typography-583e54c-line-height);
    letter-spacing: var(--e-global-typography-583e54c-letter-spacing);
    word-spacing: var(--e-global-typography-583e54c-word-spacing);
  }
  .elementor-kit-865 h2 {
    font-size: var(--e-global-typography-5d167aa-font-size);
    line-height: var(--e-global-typography-5d167aa-line-height);
    letter-spacing: var(--e-global-typography-5d167aa-letter-spacing);
    word-spacing: var(--e-global-typography-5d167aa-word-spacing);
  }
  .elementor-kit-865 h3 {
    font-size: var(--e-global-typography-d3dae9a-font-size);
    line-height: var(--e-global-typography-d3dae9a-line-height);
    letter-spacing: var(--e-global-typography-d3dae9a-letter-spacing);
    word-spacing: var(--e-global-typography-d3dae9a-word-spacing);
  }
  .elementor-kit-865 h4 {
    font-size: var(--e-global-typography-83682a1-font-size);
    line-height: var(--e-global-typography-83682a1-line-height);
    letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
    word-spacing: var(--e-global-typography-83682a1-word-spacing);
  }
  .elementor-kit-865 h5 {
    font-size: var(--e-global-typography-7044a64-font-size);
    line-height: var(--e-global-typography-7044a64-line-height);
    letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
    word-spacing: var(--e-global-typography-7044a64-word-spacing);
  }
  .elementor-kit-865 h6 {
    font-size: var(--e-global-typography-84ca66e-font-size);
    line-height: var(--e-global-typography-84ca66e-line-height);
    letter-spacing: var(--e-global-typography-84ca66e-letter-spacing);
    word-spacing: var(--e-global-typography-84ca66e-word-spacing);
  }
  .elementor-kit-865 label {
    font-size: var(--e-global-typography-b2ce6af-font-size);
    line-height: var(--e-global-typography-b2ce6af-line-height);
    letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
    word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
  }
  .elementor-kit-865 input:not([type="button"]):not([type="submit"]),
  .elementor-kit-865 textarea,
  .elementor-kit-865 .elementor-field-textual {
    font-size: var(--e-global-typography-b2ce6af-font-size);
    line-height: var(--e-global-typography-b2ce6af-line-height);
    letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
    word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
  }
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 767px;
  }
  .e-con {
    --container-max-width: 767px;
  }
} /* Start custom CSS */ /* - Animated Gradient Text - */

.gradient-text h1,
.gradient-text h2,
.gradient-text h3,
.gradient-text h4,
.gradient-text h5,
.gradient-text h6 {
  background: linear-gradient(45deg, #638dde, #eb413b, #ffa300, #e422eb);
  background-size: 400%;
  animation: text-gradient 15s ease infinite;
  padding: 5px 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@keyframes text-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} /* End custom CSS */
